@tailwind base;
@tailwind components;
@tailwind utilities;

.quill > * {
  max-height: 16rem;
}

.quill > .ql-container {
  /* border radius of the container and for font size*/
  font-size: inherit;
  overflow: auto;
  min-height: 10rem;
}

.ql-snow .ql-tooltip {
  left: 0 !important;
}

.ql-snow .ql-picker-options {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.ql-snow .ql-picker-item {
  font-size: 12px;
}
